<div class="page-header-wrapper">
	<div class="page-header">
  		<!--<center><h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1></center>-->
		<marquee style="color:#000;" marquee-speed="100" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">Now get all news & updates from various job portals/websites in a single website. We've collected and arranaged latest updates from all the popular job portals. So, now you don't need to wander around the web seeking for latest updates.  </marquee>
                
  	</div>
</div>

<div class="row">
  <div class="span12">
  <div style="width:100%;"><center><h2 style="color:#333;">{{page.tagline}}</h2></center></div><hr style="color:#ccc; opacity:0.3;"/>
    {{ content }}
  </div>
</div>
